*.pth filter=lfs diff=lfs merge=lfs -text
data/*.pth filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
inp_train.txt filter=lfs diff=lfs merge=lfs -text
inp_test.txt filter=lfs diff=lfs merge=lfs -text
